.add-reminder-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    gap: 1rem;
}

.select-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-time-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

Input {
    text-align: center;
}